* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  border-radius: 50%;
}
body {
  margin: 30px;
  background-color: hsl(210, 46%, 95%);
}

.card {
  padding: 20px;
  border-radius: 10px;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.img {
  margin-right: 15px;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.card-body p:first-of-type {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-daniel {
  background-color: hsl(263, 55%, 52%);
  color: white;
}

.card-patrick {
  background-color: hsl(219, 29%, 14%);
  color: white;
}

.card-johnathan {
  background-color: hsl(217, 19%, 35%);
  color: white;
}
.card-kira,
.card-jeanette {
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: stretch;
}

.card-daniel {
  grid-column: 1 / 4;
}

.card-johnathan {
  grid-column: 4 / 5;
}

.card-kira {
  grid-column: 5 / -1;
  grid-row: -1 / 3;
}

.card-patrick {
  grid-column: -5 / -2;
}
.card-jeanette {
  grid-column: -6 / -5;
}

* {
  column-gap: 20px;
  row-gap: 20px;
}
